meta(charset='UTF-8')
link(rel="icon", type="image/png", href="https://www.teklynk.com/assets/icons/favicon-96x96.png", sizes="96x96")
link(rel="icon", type="image/svg+xml", href="https://www.teklynk.com/assets/icons/favicon.svg")
link(rel="shortcut icon", href="https://www.teklynk.com/assets/icons/favicon.ico")
link(rel="apple-touch-icon", sizes="180x180", href="https://www.teklynk.com/assets/icons/apple-touch-icon.png")
link(rel="manifest", href="https://www.teklynk.com/assets/icons/site.webmanifest")
meta(name='viewport', content='width=device-width, initial-scale=1.0')
title
    block title
        | Teklynk
meta(name='description', content=description ? description : "Web Developer | Full Stack Developer | Linux user | Crafting innovative solutions through web development and hands-on tinkering.")
link(rel="canonical", href=pageUrl ? pageUrl : "https://www.teklynk.com")
meta(property="og:locale" content="en_US")
meta(property="og:type", content="website")
meta(property="og:title" content=title ? title : "Teklynk")
meta(property="og:site_name" content="Teklynk")
meta(property="og:url", content=pageUrl ? pageUrl : "https://www.teklynk.com")
meta(property="og:description", content=description ? description : "Web Developer | Full Stack Developer | Linux user | Crafting innovative solutions through web development and hands-on tinkering.")
meta(property="og:image", content=thumbnail ? thumbnail : "https://www.teklynk.com/assets/images/teklynk-profile.jpg")
meta(property="og:logo", content="https://www.teklynk.com/assets/images/teklynk-profile.jpg")
meta(property="twitter:card" content="summary_large_image")
meta(property="twitter:domain", content="teklynk.com")
meta(property="twitter:url" content=pageUrl ? pageUrl : "https://www.teklynk.com")
meta(name="twitter:title", content=title ? title : "Teklynk.com")
meta(name="twitter:description", content=description ? description : "Web Developer | Full Stack Developer | Linux user | Crafting innovative solutions through web development and hands-on tinkering.")
meta(name="twitter:image", content=thumbnail ? thumbnail : "https://www.teklynk.com/assets/images/teklynk-profile.jpg")