doctype html
html(lang='en-us')
    head
        meta(charset='UTF-8')
        link(rel='icon', href='/assets/icons/favicon.ico')
        meta(name='viewport', content='width=device-width, initial-scale=1.0')
        title
            block title
                | Teklynk
        meta(name='description', content=description ? description : "Web Developer | Full Stack Developer | Linux user | Crafting innovative solutions through web development and hands-on tinkering.")
        link(rel="canonical", href=pageUrl ? pageUrl : "https://www.teklynk.com")
        meta(property="og:locale" content="en_US")
        meta(property="og:type", content="website")
        meta(property="og:title" content=title ? title : "Teklynk.com")
        meta(property="og:url", content=pageUrl ? pageUrl : "https://www.teklynk.com")
        meta(property="og:description", content=description ? description : "Web Developer | Full Stack Developer | Linux user | Crafting innovative solutions through web development and hands-on tinkering.")
        meta(property="og:image", content=thumbnail ? thumbnail : "https://www.teklynk.com/assets/images/profile_crop_400x400.jpg")
    body
        block nav
            - var page = "blogs"
        block header
            include ../includes/header.pug
        main#main(role="main")
            block main_container
            .home
                .container.pb-3.pt-3
                    if title
                        h1 #{title}
                    if date
                        h2.underline.small.muted Published on #{moment(date)}
                    block content

                    block recent_blogs
                        div#blog-recent-container
                            h2.underline 🖋️ Recent Blogs
                            include ../includes/blog-recent.pug 
        block footer
            include ../includes/footer.pug
        block script
            script(type='module', src='@/main.js')