doctype html
html(lang='en-us')
    head
        meta(charset='UTF-8')
        link(rel='icon', type='image/x-icon', href='https://www.teklynk.com/assets/icons/favicon.ico')
        meta(name='viewport', content='width=device-width, initial-scale=1.0')
        title
            block title
                | Teklynk
        meta(name='description', content=description ? description : "Web Developer | Full Stack Developer | Linux user | Crafting innovative solutions through web development and hands-on tinkering.")
        link(rel="canonical", href=pageUrl ? pageUrl : "https://www.teklynk.com")
        meta(property="og:locale" content="en_US")
        meta(property="og:type", content="website")
        meta(property="og:title" content=title ? title : "Teklynk.com")
        meta(property="og:url", content=pageUrl ? pageUrl : "https://www.teklynk.com")
        meta(property="og:description", content=description ? description : "Web Developer | Full Stack Developer | Linux user | Crafting innovative solutions through web development and hands-on tinkering.")
        meta(property="og:image", content=thumbnail ? thumbnail : "https://www.teklynk.com/assets/images/teklynk-profile.jpg")
        <!-- Twitter Meta Tags -->
        meta(property="twitter:card" content="summary_large_image")
        meta(property="twitter:domain", content="teklynk.com")
        meta(property="twitter:url" content=pageUrl ? pageUrl : "https://www.teklynk.com")
        meta(name="twitter:title", content=title ? title : "Teklynk.com")
        meta(name="twitter:description", content=description ? description : "Web Developer | Full Stack Developer | Linux user | Crafting innovative solutions through web development and hands-on tinkering.")
        meta(name="twitter:image", content=thumbnail ? thumbnail : "https://www.teklynk.com/assets/images/profile_crop_400x400.jpg")
    body
        block nav
            - var page = "home"
        block header
            include ../includes/header.pug
        main#main(role="main")
            block main_container
            .home
                .container.pb-3.pt-3
                    if title
                        h1.underline #{title}
                    block content
        block footer
            include ../includes/footer.pug
        block script
            script(type='module', src='@/main.js')